data/schemas/manuscripta-bibl.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Schema for the bibliography</title>
            <author xml:id="PG">Patrik Granholm</author>
            <author xml:id="EN">Eva Nyström</author>
         </titleStmt>
         <publicationStmt>
            <p>Released under GNU GPL 3.0</p>
         </publicationStmt>
         <sourceDesc>
            <p>created electronically</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change when="2014-09-15" who="#PG">Created bare ODD from ODD by example</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <div xml:id="guidelines">
            <head>Guidelines for the Bibliography</head>
            <div xml:id="journal-articles">
               <head>Articles in journals</head>
               <p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <bibl xml:id="Benediktsson1938">
                        <author ref="#JakBen" />
                        <title level="a">Ein Frühbyzantinisches Bibellexikon, <foreign xml:lang="grc">λέξεις τῆς ὀκτατεύχου</foreign></title>
                        <title level="j">Classica et Mediaevalia</title>
                        <date when="1938" />
                        <biblScope from="1" to="1" unit="volume" />
                        <biblScope from="243" to="280" unit="page" />
                     </bibl>
                  </egXML>
                  <specList>
                     <specDesc key="author" atts="ref" />
                     <specDesc key="biblScope" atts="from to unit" />                     
                     <specDesc key="date" atts="when" />
                     <specDesc key="idno" atts="type" />
                     <specDesc key="title" atts="level" />
                  </specList>
               </p>               
            </div>
            <div xml:id="book-articles">
               <head>Articles in books</head>
               <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <bibl xml:id="Harlfinger1977">
                     <author ref="#DieHar" />
                     <title level="a">Zu griechischen Kopisten und Schriftstilen des 15. und 16. Jahrhunderts</title>
                     <editor ref="#JeaGle" />
                     <editor ref="#JacBom" />
                     <editor ref="#JeaIri" />
                     <title level="m">La Paléographie grecque et byzantine</title>
                     <pubPlace>Paris</pubPlace>
                     <date when="1977" />
                  </bibl>
               </egXML>
            </div>
            <div xml:id="monographs">
               <head>Monographs</head>
               <p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <bibl xml:id="Karlsson1981">
                        <editor ref="#GusKar" />
                        <title level="m" xml:lang="de">Codex Upsaliensis Graecus 28: Geschichte und Beschreibung der Handschrift nebst einer Nachlese von Texten</title>                        
                        <pubPlace>Uppsala</pubPlace>
                        <date when="1981" />                        
                     </bibl>
                  </egXML>
               </p>
               <p>Use the <gi>q</gi> element instead of quotation marks, e.g. in titles.
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <title level="m" xml:lang="fr">Les <q>Cestes</q> de Julius Africanus: étude sur l’ensemble des fragments avec édition, traduction et commentaire</title>
                  </egXML>
               </p>
               <p>A link to a digitized item can be given in an <gi>idno</gi> element with the <att>type</att> attribute (value: <val>URI</val>)
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <bibl xml:id="Sathas1872">
                        <author role="critEd" ref="#KonSat" />
                        <title level="m">Mesaiōnikē bibliothēkē</title>
                        <pubPlace>Venice</pubPlace>
                        <date from="1872" to="1894" />
                        <biblScope from="1" to="7" unit="volume" />
                        <idno type="URI">http://catalog.hathitrust.org/Record/100332960</idno>
                     </bibl>
                  </egXML>
                  <specList>
                     <specDesc key="author" atts="ref" />
                     <specDesc key="biblScope" atts="from to unit" />                     
                     <specDesc key="date" atts="when" />
                     <specDesc key="edition" />
                     <specDesc key="editor" atts="ref" />
                     <specDesc key="idno" atts="type" />
                     <specDesc key="pubPlace" />
                     <specDesc key="title" atts="level type" />
                  </specList>
               </p>
            </div>
            <div xml:id="editions">
               <head>Editions</head>
               <p>The author of the original work should be given in the <gi>author</gi> element with the <att>role</att> attribute (value: origAuth) and the name of the critical editor in the <gi>author</gi> element with the <att>role</att> attribute (value: critEd). If there are more than one publication place only the first one should be included. In the <gi>date</gi> element the <att>when</att> attribute or the <att>from</att>/<att>to</att> attributes are required.
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <bibl xml:id="GarciaValdes2009">
                        <author role="origAuth" ref="#ClaAel" />
                        <author role="critEd" ref="#ManGar" />
                        <author role="critEd" ref="#LuiLle" />
                        <author role="critEd" ref="#LucRod" />
                        <title level="m">De natura animalium</title>                        
                        <pubPlace>Berlin</pubPlace>
                        <date when="2009" />
                     </bibl>
                  </egXML>
               </p>
            </div>
            <div xml:id="manuscripts">
               <head>Manuscripts</head>
               <p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <bibl xml:id="Aurivillius1835">
                        <author ref="#CarAur" />
                        <title level="u">Codices Manuscriptos Graecos Bibliothecae Acad. Upsaliensis (handwritten catalogue)</title>
                        <date when="1835" />
                     </bibl>
                  </egXML>
               </p>
            </div>
         </div>
         <div xml:id="schema">
            <head>Schema for the Bibliography</head>

            <schemaSpec ident="manuscripta-bibliography" start="TEI" xml:lang="en">

               <!--       MODULES USED BY THE SCHEMA       -->

               <moduleRef key="tei" />
               <moduleRef key="core" include="author bibl biblScope date editor foreign listBibl p pubPlace q title" />
               <moduleRef key="header" include="edition fileDesc idno publicationStmt sourceDesc teiHeader titleStmt" />               
               <moduleRef key="textstructure" include="TEI body text" />

               <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

               <elementSpec ident="author" module="core" mode="change">
                  <content>
                     <rng:choice>
                        <rng:empty />
                        <rng:optional>
                           <rng:ref name="persName" />
                        </rng:optional>
                     </rng:choice>
                  </content>
                  <constraintSpec ident="persname.check" scheme="isoschematron">
                     <desc versionDate="2014-10-01" xml:lang="en">checks that <gi>persName</gi> only has the <att>evidence</att> attribute with the value conjecture or external</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:author/tei:persName">
                              <sch:assert test="@evidence[matches(., 'conjecture') or matches(., 'external')]">The persName element must have the evidence attribute with the value conjecture or external</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="ref.content.check" scheme="isoschematron">
                     <desc versionDate="2014-09-25" xml:lang="en">checks that the <att>ref</att> attribute starts with # or http</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:author">
                              <sch:assert test="@ref[starts-with(., '#')]">The @ref value must start with #</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>                  
                  <constraintSpec scheme="isoschematron" ident="ref.whitespace.check">
                     <desc versionDate="2014-09-23" xml:lang="en">checks for whitespace at the beginning of the value of <att>ref</att>.</desc>
                     <constraint>
                        <sch:rule context="tei:author">
                           <sch:report test="@ref[matches(.,'\s$')]">whitespace at the end of the ref value</sch:report>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="role" mode="change" usage="opt">
                        <valList mode="replace" type="closed">
                           <valItem ident="critEd">
                              <desc>Editor of a critical edition</desc>
                           </valItem>
                           <valItem ident="origAuth">
                              <desc>Original author of critical edition</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="ref" mode="change" usage="req" />
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="key" mode="delete" />                     
                     <attDef ident="xml:id" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="bibl" module="core" mode="change">
                  <classes mode="change">
                     <memberOf key="att.typed" mode="delete" />                     
                  </classes>
                  <content>
                     <rng:zeroOrMore>
                        <rng:ref name="author" />
                     </rng:zeroOrMore>
                     <rng:zeroOrMore>
                        <rng:ref name="title" />
                     </rng:zeroOrMore>                     
                     <rng:zeroOrMore>
                        <rng:ref name="editor" />
                     </rng:zeroOrMore>
                     <rng:zeroOrMore>
                        <rng:ref name="title" />
                     </rng:zeroOrMore>
                     <rng:optional>
                        <rng:ref name="pubPlace" />
                     </rng:optional>
                     <rng:ref name="date" />
                     <rng:optional>
                        <rng:ref name="edition" />
                     </rng:optional>
                     <rng:zeroOrMore>
                        <rng:ref name="biblScope" />
                     </rng:zeroOrMore>
                     <rng:zeroOrMore>
                        <rng:ref name="idno" />
                     </rng:zeroOrMore>
                  </content>                  
                  <!--<constraintSpec ident="editor.check" scheme="isoschematron">
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:bibl">
                              <sch:assert test="tei:editor[preceding-sibling::tei:title[@level='a']][following-sibling::tei:title[@level='m']]"> The editor of the volume is missing. </sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>-->
                  <attList>
                     <!--<attDef ident="type" mode="change" usage="req">
                        <valList mode="replace" type="closed">
                           <valItem ident="article-journal" />
                           <valItem ident="book">
                              <desc>Monograph</desc>
                           </valItem>
                           <valItem ident="chapter">
                              <desc>Chapter in book</desc>
                           </valItem>
                           <valItem ident="edition">
                              <desc>Critial edition</desc>
                           </valItem>
                           <valItem ident="manuscript" />
                           <valItem ident="thesis" />
                        </valList>
                     </attDef>-->
                     <!-- Attributes changed and deleted in att.global -->
                     <attDef ident="xml:id" mode="change" usage="req" />
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                     <attDef ident="rend" mode="delete" />
                     <attDef ident="rendition" mode="delete" />
                     <attDef ident="style" mode="delete" />
                  </attList>
                  <exemplum>
                     <egXML xmlns="http://www.tei-c.org/ns/Examples">
                        <!-- Nytt exempel -->
                     </egXML>
                  </exemplum>
               </elementSpec>
               <elementSpec ident="biblScope" module="core" mode="change">
                  <content>
                     <rng:empty />
                  </content>
                  <attList>
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="type" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
                  <exemplum>
                     <egXML xmlns="http://www.tei-c.org/ns/Examples">
                        <!-- Nytt exempel -->
                     </egXML>
                  </exemplum>
               </elementSpec>
               <elementSpec ident="body" module="textstructure" mode="change">
                  <content>
                     <rng:ref name="listBibl" />
                  </content>
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="date" mode="change" module="core">
                  <classes mode="change">
                     <memberOf key="att.editLike" mode="delete" />
                     <memberOf key="att.dimensions" mode="delete" />
                     <memberOf key="att.ranging" mode="delete" />
                     <memberOf key="att.responsibility" mode="delete" />
                     <memberOf key="att.typed" mode="delete" />
                  </classes>
                  <content>
                     <rng:empty />
                  </content>
                  <constraintSpec ident="date.attributes" scheme="isoschematron">
                     <desc versionDate="2014-09-15" xml:lang="en">checks that the <gi>date</gi> element has either a <att>when</att> or <att>to</att>/<att>from</att> attributes.</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:date">
                              <sch:assert test="@when or (@from and @to)">The date element must have either @when or @to/@from. </sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="edition" module="header" mode="change" />
               <elementSpec ident="editor" module="core" mode="change">
                  
                  <content>
                     <rng:empty />
                  </content>
                  <constraintSpec ident="ref.content.check" scheme="isoschematron">
                     <desc versionDate="2014-09-25" xml:lang="en">checks that the <att>ref</att> attribute starts with # or http</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:editor">
                              <sch:assert test="@ref[starts-with(., '#')]">The @ref value must start with #</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>                     
                     <attDef ident="ref" mode="change" usage="req" />                     
                  </attList>
               </elementSpec>
               <elementSpec ident="fileDesc" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="foreign" module="core" mode="change" />               
               <elementSpec ident="idno" module="header" mode="change">
                  <content>
                     <textNode />
                  </content>
               </elementSpec>
               <elementSpec ident="listBibl" module="core" mode="change">
                  <content>
                     <rng:oneOrMore>
                        <rng:ref name="bibl" />
                     </rng:oneOrMore>
                  </content>
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>               
               <elementSpec ident="p" module="core" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="publicationStmt" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="pubPlace" module="core" mode="change">
                  <content>
                     <rng:choice>
                        <rng:text />
                        <rng:ref name="placeName" />
                     </rng:choice>
                  </content>
                  <constraintSpec ident="placename.check" scheme="isoschematron">
                     <desc versionDate="2014-10-01" xml:lang="en">checks that <gi>placeName</gi> only has the <att>evidence</att> attribute with the value conjecture or external</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:pubPlace/tei:placeName">
                              <sch:assert test="@evidence[matches(., 'conjecture') or matches(., 'external')]">The placeName element must have the evidence attribute with the value conjecture or external</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="q" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="sourceDesc" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>               
               <elementSpec ident="TEI" module="textstructure" mode="change">
                  <attList>
                     <attDef ident="version" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="teiHeader" module="header" mode="change">
                  <constraintSpec ident="greek.check" scheme="isoschematron">
                     <desc versionDate="2014-08-01">Check that <att>xml:lang</att> with <val>grc</val> is used for Greek characters</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="//*[not(@xml:lang='grc' or @xml:lang='el')]">
                              <sch:report test="text()[matches(., '\p{IsGreek}|\p{IsGreekExtended}')]"> Use the xml:lang="grc" for Ancient Greek text and xml:lang="el" for Modern Greek text </sch:report>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="latin.check" scheme="isoschematron">
                     <desc versionDate="2014-08-01">Checks that <att>xml:lang</att> with <val>grc</val> is not used for Latin letters or numbers</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="//*[@xml:lang='grc' or @xml:lang='el']">
                              <sch:report test="text()[matches(., '[(\p{N}|\p{L})-[\p{IsGreek}\p{IsGreekExtended}]]')]"> Only characters from Greek and Greek extended chart range are allowed in elements with the xml:lang="grc" or xml:lang="el".</sch:report>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="check.forbidden.Greek.charcters" scheme="isoschematron">
                     <desc versionDate="2014-08-01">Check for forbidden Greek characters</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="//*[(@xml:lang='grc' or @xml:lang='el')]">
                              <sch:report test="contains(., 'Ϛ')"> Use Greek Small Letter Stigma (U+03DB).</sch:report>
                              <sch:report test="contains(., 'Ϟ')"> Use Greek Small Letter Koppa (U+03DF).</sch:report>
                              <sch:report test="contains(., 'Ϡ')"> Use Greek Small Letter Sampi (U+03E1).</sch:report>
                              <sch:report test="contains(., ';')"> Use the semicolon (U+003B) for the Greek question mark.</sch:report>
                              <sch:report test="contains(., '·')"> Use the middle dot (U+00B7) for the Greek semicolon.</sch:report>
                              <sch:report test="contains(., &quot;&apos;&quot;)"> Use the right single quotation mark (U+2019) for the Greek apostrophe.</sch:report>
                              <sch:report test="contains(., 'ά')"> Use Greek Small Letter Alpha with tonos (U+03AC).</sch:report>
                              <sch:report test="contains(., 'έ')"> Use Greek Small Letter Epsilon with tonos (U+03AD).</sch:report>
                              <sch:report test="contains(., 'ή')"> Use Greek Small Letter Eta with tonos (U+03AE).</sch:report>
                              <sch:report test="contains(., 'ί')"> Use Greek Small Letter Iota with tonos (U+03AF).</sch:report>
                              <sch:report test="contains(., 'ό')"> Use Greek Small Letter Omikron with tonos (U+03CC).</sch:report>
                              <sch:report test="contains(., 'ύ')"> Use Greek Small Letter Upsilon with tonos (U+03CD).</sch:report>
                              <sch:report test="contains(., 'ώ')"> Use Greek Small Letter Omega with tonos (U+03CE).</sch:report>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="apostrophe.check" scheme="isoschematron">
                     <desc versionDate="2014-08-01">Check for the apostrophe U+0027</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="//*[not(@xml:lang='grc' or @xml:lang='el')]">
                              <sch:assert test="not(contains(., &quot;&apos;&quot;))"> Use the right single quotation mark (U+2019) for apostrophe.</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="quotationmark.check" scheme="isoschematron">
                     <desc versionDate="2014-08-01">Check for the straight double quotation mark (U+0022)</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="text()">
                              <sch:assert test="not(contains(., '&quot;'))"> The use of quotation marks is not allowed. Use the q element instead.</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="left.quotationmark.check" scheme="isoschematron">
                     <desc versionDate="2014-08-01">Check for the left single quotation mark (U+2018)</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="text()">
                              <sch:assert test="not(contains(., '‘'))"> The use of quotation marks is not allowed. Use the q element instead.</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="type" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="text" module="textstructure" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="title" module="core" mode="change">
                  <content>
                     <rng:zeroOrMore>
                        <rng:choice>
                           <rng:text />
                           <rng:ref name="q" />
                           <rng:ref name="foreign" />
                        </rng:choice>
                     </rng:zeroOrMore>
                  </content>
                  <attList>
                     <attDef ident="level" mode="change" usage="req" />
                     <attDef ident="xml:lang" mode="change">
                        <valList mode="replace" type="closed">
                           <valItem ident="grc">
                              <desc>Ancient Greek (to 1453)</desc>
                           </valItem>
                           <valItem ident="el">
                              <desc>Modern Greek</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="type" mode="change">
                        <valList mode="replace" type="closed">
                           <valItem ident="main">
                              <desc>main title</desc>
                           </valItem>
                           <valItem ident="short">
                              <desc>abbreviated form of title</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="xml:id" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="titleStmt" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>



               <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->

               <classSpec ident="att.milestoneUnit" module="core" type="atts" mode="delete" />
               <classSpec ident="att.patternReplacement" module="header" type="atts" mode="delete" />               
               <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.citing" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="from" mode="change" usage="req" />
                     <attDef ident="to" mode="change" usage="req" />
                     <attDef ident="unit" mode="change" usage="req">
                        <valList mode="replace" type="closed">
                           <valItem ident="volume" />
                           <valItem ident="issue" />
                           <valItem ident="page" />
                           <valItem ident="footnote" />
                           <valItem ident="line" />
                           <valItem ident="chapter" />
                           <valItem ident="column" />
                           <valItem ident="folio" />
                        </valList>
                     </attDef>
                  </attList>
               </classSpec>
               <classSpec ident="att.ranging" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.dimensions" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.damaged" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.breaking" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.canonical" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="key" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.datable" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="calendar" mode="delete" />
                     <attDef ident="period" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="notBefore" mode="delete" />
                     <attDef ident="notAfter" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.datcat" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.declarable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.declaring" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.fragmentable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.divLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.docStatus" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.responsibility" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="instant" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.global" module="tei" type="atts" mode="change">
                  <constraintSpec ident="xmlid.text.check" scheme="isoschematron">
                     <desc versionDate="2015-03-17" xml:lang="en">checks that <att>xml:id</att> only contains basic latin characters and numbers.</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:*/@xml:id">                              
                              <sch:assert test="matches(.,'^[A-Za-z]+\d{4}[a-z]?$')">The xml:id should only consist of the authors surname in basic latin characters, followed by the publication year, and optionally characters a, b, c etc.</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="xml:lang" mode="change" usage="opt">
                        <valList mode="replace" type="closed">
                           <valItem ident="grc">
                              <desc>Ancient Greek (to 1453)</desc>
                           </valItem>
                           <valItem ident="en">
                              <desc>English</desc>
                           </valItem>
                           <valItem ident="fr">
                              <desc>French</desc>
                           </valItem>
                           <valItem ident="de">
                              <desc>German</desc>
                           </valItem>
                           <valItem ident="el">
                              <desc>Modern Greek</desc>
                           </valItem>
                           <valItem ident="it">
                              <desc>Italian</desc>
                           </valItem>
                           <valItem ident="la">
                              <desc>Latin</desc>
                           </valItem>
                           <valItem ident="nl">
                              <desc>Dutch</desc>
                           </valItem>
                           <valItem ident="sp">
                              <desc>Spanish</desc>
                           </valItem>
                           <valItem ident="sv">
                              <desc>Swedish</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="xml:base" mode="delete" />
                     <attDef ident="xml:space" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.handFeatures" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.internetMedia" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.media" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.resourced" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.interpLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.measurement" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="nymRef" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.placement" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.typed" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="subtype" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.pointing" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.pointing.group" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.readFrom" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.scoping" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.segLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.sortable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.edition" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.spanning" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.styleDef" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.tableDecoration" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.timed" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.transcriptional" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.translatable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.source" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.personal" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="full" mode="delete" />
                     <attDef ident="sort" mode="delete" />
                  </attList>
               </classSpec>
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
