data/schemas/manuscripta-persons.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Schema for the bibliography</title>
            <author xml:id="PG">Patrik Granholm</author>
            <author xml:id="EN">Eva Nyström</author>
         </titleStmt>
         <publicationStmt>
            <p>Released under GNU GPL 3.0</p>
         </publicationStmt>
         <sourceDesc>
            <p>created electronically</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change when="2014-09-17" who="#PG">Created bare ODD from ODD by example</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <div xml:id="guidelines">
            <head>Guidelines for the Prosopography</head>
            <div xml:id="personalnames">
               <head>Personal Names</head>
               <p>Should be recorded within a <gi>persName</gi> element which can contain the following elements: <gi>forename</gi>, <gi>nameLink</gi>, <gi>surname</gi>, <gi>addName</gi> and <gi>roleName</gi>.
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <persName>
                        <forename>Luis</forename>
                        <forename>Alfonso</forename>
                        <surname>Llera Fueyo</surname>
                     </persName>
                     <persName>
                        <forename>Nicholas</forename>
                        <nameLink>de la</nameLink>
                        <surname>Torre</surname>
                     </persName>
                     <persName>
                        <foreName>Athenaeus</foreName>
                        <addName>Mechanicus</addName>
                     </persName>
                     <persName>
                        <foreName>Philip</foreName>
                        <genName>II</genName>
                        <roleName>King of Spain</roleName>
                     </persName>
                  </egXML>
               </p>
            </div>
         </div>
         <div xml:id="schema">
            <schemaSpec ident="manuscripta-prosopography" start="TEI" xml:lang="en">

               <!--       MODULES USED BY THE SCHEMA       -->

               <moduleRef key="tei" />
               <moduleRef key="core" include="author bibl citedRange note p ref title" />
               <moduleRef key="header" include="fileDesc idno publicationStmt sourceDesc teiHeader titleStmt" />
               <moduleRef key="namesdates" include="addName forename genName listPerson nameLink persName person roleName surname" />
               <moduleRef key="textstructure" include="TEI body text" />

               <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

               <elementSpec ident="addName" module="namesdates" mode="change">
                  <classes mode="change">
                     <memberOf key="att.personal" mode="delete" />
                     <memberOf key="att.typed" mode="delete" />
                  </classes>
                  <content>
                     <rng:choice>
                        <rng:ref name="supplied" />
                        <rng:text />
                     </rng:choice>
                  </content>
                  <attList>
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="author" module="core" mode="change">
                  <content>
                     <rng:choice>
                        <rng:ref name="persName" />
                     </rng:choice>
                  </content>
                  <attList>
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="ref" mode="delete" />
                     <attDef ident="role" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="bibl" module="core" mode="change" />
               <elementSpec ident="body" module="textstructure" mode="change">
                  <content>
                     <rng:ref name="listPerson" />
                  </content>
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="citedRange" module="core" mode="change" />
               <elementSpec ident="date" mode="change" module="core">
                  <classes mode="change">
                     <memberOf key="att.editLike" mode="delete" />
                     <memberOf key="att.dimensions" mode="delete" />
                     <memberOf key="att.ranging" mode="delete" />
                     <memberOf key="att.responsibility" mode="delete" />
                     <memberOf key="att.typed" mode="delete" />
                  </classes>
                  <content>
                     <rng:empty />
                  </content>
                  <constraintSpec ident="date.attributes" scheme="isoschematron">
                     <desc versionDate="2014-09-15" xml:lang="en">checks that the <gi>date</gi> element has either a <att>when</att> or <att>to</att>/<att>from</att> attributes.</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:date">
                              <sch:assert test="@when or (@from and @to)">The date element must have either @when or @to/@from. </sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="facs" mode="delete" />
                     <attDef ident="n" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="fileDesc" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="forename" module="namesdates" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="genName" module="namesdates" mode="change" />
               <elementSpec ident="idno" module="header" mode="change" />
               <elementSpec ident="note" module="core" mode="change">
                  <content>
                     <alternate minOccurs="0" maxOccurs="unbounded">
                        <textNode />
                        <elementRef key="bibl" />                        
                        <elementRef key="ref" />                                                
                     </alternate>
                  </content>
               </elementSpec>
               <elementSpec ident="p" module="core" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="person" module="namesdates" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="change" usage="req" />
                     <attDef ident="ref" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="persName" module="namesdates" mode="change">
                  <content>
                     <rng:group>
                        <rng:zeroOrMore>
                           <rng:ref name="forename" />
                        </rng:zeroOrMore>
                        <rng:optional>
                           <rng:ref name="genName" />
                        </rng:optional>
                        <rng:optional>
                           <rng:ref name="nameLink" />
                        </rng:optional>
                        <rng:zeroOrMore>
                           <rng:ref name="surname" />
                        </rng:zeroOrMore>
                        <rng:optional>
                           <rng:ref name="addName" />
                        </rng:optional>
                        <rng:optional>
                           <rng:ref name="roleName" />
                        </rng:optional>
                     </rng:group>
                  </content>                  
                  <attList>
                     <attDef ident="when" mode="delete" />
                     <attDef ident="from" mode="delete" />
                     <attDef ident="to" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="publicationStmt" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="pubPlace" module="core" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="q" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="ref" module="core" mode="change" />
               <elementSpec ident="roleName" module="namesdates" mode="change" />
               <elementSpec ident="sourceDesc" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>

               <elementSpec ident="surname" module="namesdates" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="TEI" module="textstructure" mode="change">
                  <attList>
                     <attDef ident="version" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="teiHeader" module="header" mode="change">
                  <attList>
                     <attDef ident="type" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="text" module="textstructure" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="title" module="core" mode="change">
                  <content>
                     <rng:zeroOrMore>
                        <rng:choice>
                           <rng:text />
                           <rng:ref name="q" />
                        </rng:choice>
                     </rng:zeroOrMore>
                  </content>
                  <attList>
                     <attDef ident="xml:lang" mode="change" usage="req" />
                     <attDef ident="type" mode="delete" />
                     <attDef ident="xml:id" mode="delete" />
                  </attList>
               </elementSpec>
               <elementSpec ident="titleStmt" module="header" mode="change">
                  <attList>
                     <attDef ident="xml:id" mode="delete" />
                     <attDef ident="xml:lang" mode="delete" />
                  </attList>
               </elementSpec>



               <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->

               <classSpec ident="att.milestoneUnit" module="core" type="atts" mode="delete" />
               <classSpec ident="att.patternReplacement" module="header" type="atts" mode="delete" />
               <classSpec ident="att.datable.custom" module="namesdates" type="atts" mode="delete" />
               <classSpec ident="att.datable.iso" module="namesdates" type="atts" mode="delete" />
               <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.citing" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="from" mode="change" usage="req" />
                     <attDef ident="to" mode="change" usage="req" />
                     <attDef ident="unit" mode="change" usage="req">
                        <valList mode="replace" type="closed">
                           <valItem ident="volume" />
                           <valItem ident="issue" />
                           <valItem ident="page" />
                           <valItem ident="footnote" />
                           <valItem ident="line" />
                           <valItem ident="chapter" />
                           <valItem ident="column" />
                           <valItem ident="folio" />
                        </valList>
                     </attDef>
                  </attList>
               </classSpec>
               <classSpec ident="att.ranging" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.dimensions" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.damaged" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.breaking" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.canonical" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="key" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.datable" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="calendar" mode="delete" />
                     <attDef ident="period" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="notBefore" mode="delete" />
                     <attDef ident="notAfter" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.datcat" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.declarable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.declaring" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.fragmentable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.divLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.docStatus" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.responsibility" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.editLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.global" module="tei" type="atts" mode="change">
                  <constraintSpec ident="xmlid.text.check" scheme="isoschematron">
                     <desc versionDate="2015-03-17" xml:lang="en">checks that <att>xml:id</att> only contains basic latin characters, and optionally of numbers.</desc>
                     <constraint>
                        <sch:pattern>
                           <sch:rule context="tei:*/@xml:id">                              
                              <sch:assert test="matches(.,'^[A-Za-z]+\d*$')">The xml:id should only consist of basic latin characters, and optionally of numbers.</sch:assert>
                           </sch:rule>
                        </sch:pattern>
                     </constraint>
                  </constraintSpec>
                  <attList>                     
                     <attDef ident="n" mode="delete" />
                     <attDef ident="xml:lang" mode="change" usage="opt">
                        <valList mode="replace" type="closed">
                           <valItem ident="grc">
                              <desc>Ancient Greek (to 1453)</desc>
                           </valItem>
                           <valItem ident="en">
                              <desc>English</desc>
                           </valItem>
                           <valItem ident="fr">
                              <desc>French</desc>
                           </valItem>
                           <valItem ident="de">
                              <desc>German</desc>
                           </valItem>
                           <valItem ident="el">
                              <desc>Modern Greek</desc>
                           </valItem>
                           <valItem ident="it">
                              <desc>Italian</desc>
                           </valItem>
                           <valItem ident="la">
                              <desc>Latin</desc>
                           </valItem>
                           <valItem ident="nl">
                              <desc>Dutch</desc>
                           </valItem>
                           <valItem ident="sp">
                              <desc>Spanish</desc>
                           </valItem>
                           <valItem ident="sv">
                              <desc>Swedish</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="xml:base" mode="delete" />
                     <attDef ident="xml:space" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.global.rendition" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="rend" mode="delete" />
                     <attDef ident="style" mode="delete" />
                     <attDef ident="rendition" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.handFeatures" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.internetMedia" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.media" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.resourced" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.interpLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.measurement" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="role" mode="delete" />
                     <attDef ident="nymRef" mode="delete" />
                  </attList>
               </classSpec>
               <classSpec ident="att.placement" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.typed" module="tei" type="atts" mode="delete" />               
               <classSpec ident="att.pointing.group" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.readFrom" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.scoping" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.segLike" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.sortable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.edition" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.spanning" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.styleDef" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.tableDecoration" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.timed" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.transcriptional" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.translatable" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.source" module="tei" type="atts" mode="delete" />
               <classSpec ident="att.personal" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="full" mode="delete" />
                     <attDef ident="sort" mode="delete" />
                  </attList>
               </classSpec>
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
