schemas/manuscripta-person.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta person files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-02-22" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta person files</head>

                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="manuscripta-p5subset.xml">

                    <!--       MODULES USED BY THE SCHEMA       -->

                    <!-- Modules imported from manuscripta-master.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="bibl citedRange publisher resp respStmt"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="namesdates" include="placeName"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for bibliography-bibl.odd -->
                    <!-- Source: http://www.tei-c.org/release/xml/tei/odd/p5subset.xml-->
                    <moduleRef key="core" include="date note p title" source="odd/p5subset.xml"/>
                    <moduleRef key="header" include="idno sourceDesc" source="odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="addName birth death forename genName listPerson nameLink persName person roleName surname" source="odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="odd/p5subset.xml"/>

                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

                    <elementSpec ident="addName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="birth" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.naming" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <rng:empty/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="listPerson" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="date" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.datable -->
                            <attDef ident="notBefore" mode="delete"/>
                            <attDef ident="notAfter" mode="delete"/>
                            <attDef ident="from" mode="delete"/>
                            <attDef ident="to" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="death" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.naming" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <rng:empty/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="forename" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="genName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="id"/>
                                    <valItem ident="msRef"/>
                                    <valItem ident="shelfmark"/>
                                    <valItem ident="URI"/>
                                    <valItem ident="URN"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="Alvin"/>
                                    <valItem ident="CERL"/>
                                    <valItem ident="CITE"/>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="NDB">
                                        <gloss>Deutsche Biographie</gloss>
                                    </valItem>
                                    <valItem ident="Libris"/>
                                    <valItem ident="Pinakes"/>
                                    <valItem ident="PLP">
                                        <gloss>Prosopographisches Lexikon der Palaiologenzeit</gloss>
                                    </valItem>
                                    <valItem ident="Regina"/>
                                    <valItem ident="SBL">
                                        <gloss>Svenskt biografiskt lexikon</gloss>
                                    </valItem>
                                    <valItem ident="VIAF"/>
                                    <valItem ident="Wikipedia"/>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="listPerson" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="person" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="nameLink" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="note" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.placement" mode="delete"/>
                            <memberOf key="att.pointing" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="bibl" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="placeName" minOccurs="0" maxOccurs="unbounded"/>
                            </alternate>
                        </content>
                        <attList>
                            <attDef ident="anchored" mode="delete"/>
                            <attDef ident="targetEnd" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate>
                                <textNode/>
                                <alternate minOccurs="1" maxOccurs="unbounded">
                                    <elementRef key="forename" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="nameLink" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="surname" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="addName" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="genName" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="roleName" minOccurs="0" maxOccurs="unbounded"/>
                                </alternate>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="person" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="birth" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="death" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="note" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted -->
                            <attDef ident="age" mode="delete"/>
                            <attDef ident="gender" mode="delete"/>
                            <attDef ident="role" mode="delete"/>
                            <attDef ident="sex" mode="change" usage="rec">
                                <valList mode="replace" type="closed">
                                    <valItem ident="M">
                                        <gloss>male</gloss>
                                    </valItem>
                                    <valItem ident="F">
                                        <gloss>female</gloss>
                                    </valItem>
                                    <valItem ident="O">
                                        <gloss>other</gloss>
                                    </valItem>
                                    <valItem ident="N">
                                        <gloss>none or not applicable</gloss>
                                    </valItem>
                                    <valItem ident="U">
                                        <gloss>unknown</gloss>
                                    </valItem>
                                </valList>
                            </attDef>
                            
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="publicationStmt" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence minOccurs="1" maxOccurs="1">
                                <elementRef key="publisher" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="idno" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="date" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="availability" minOccurs="1" maxOccurs="1"/>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="revisionDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <attList>
                            <!-- Attributes changed in att.docStatus -->
                            <attDef ident="status" mode="change" usage="req"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="roleName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="surname" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes deleted in att.global.rendition -->
                            <attDef ident="rend" mode="delete"/>
                            <!-- Attributes deleted from att.global.facs -->
                            <attDef ident="facs" mode="delete"/>
                            <!-- Attributes deleted from att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted from att.typed -->
                            <attDef ident="subtype" mode="delete"/>
                            <!-- Attributes deleted -->
                            <attDef ident="level" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->

                    <classSpec ident="att.datable.iso" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.datable.custom" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.declarable" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.docStatus" module="tei" type="atts" mode="change">
                        <attList>
                            <!-- Closed value list for @status -->
                            <attDef ident="status" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="draft">
                                        <desc>working draft</desc>
                                    </valItem>
                                    <valItem ident="published">
                                        <desc>published version</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </classSpec>
                    
                    <classSpec ident="att.calendarSystem" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.responsibility" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                        <attList>
                            <attDef ident="role" mode="delete"/>
                        </attList>
                    </classSpec>
                    
                    <classSpec ident="att.sortable" module="tei" type="atts" mode="delete"/>
                    
                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
