schemas/manuscripta-org.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta organization files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-02-23" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta organization files</head>

                <!--<schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="https://raw.githubusercontent.com/manuscripta/data/master/schemas/manuscripta-p5subset.xml">-->
                <!--                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="file:/C:/Users/Patrik/Box Sync/Manuscripta/manuscripta-2.0/schemas/manuscripta-p5subset.xml">-->
                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/manuscripta-p5subset.xml">


                    <!--       MODULES USED BY THE SCHEMA       -->

                    <!-- Modules imported from manuscripta-master.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="publisher resp respStmt"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="namesdates" include="listOrg org orgName"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for manuscripta-org.odd -->
                    <!-- Source: http://www.tei-c.org/release/xml/tei/odd/p5subset.xml-->
                    <moduleRef key="core" include="date desc p title" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="header" include="idno sourceDesc" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="persName" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>

                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="listOrg" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="date" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.datable -->
                            <attDef ident="notBefore" mode="delete"/>
                            <attDef ident="notAfter" mode="delete"/>
                            <attDef ident="from" mode="delete"/>
                            <attDef ident="to" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="desc" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="orgName"/>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="URI"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="Libris"/>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="VIAF"/>
                                    <valItem ident="Wikidata"/>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attribute deleted from att.naming -->
                            <attDef ident="role" mode="delete"/>
                            <!-- Attribute deleted from att.canonical -->
                            <attDef ident="key" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="TEI" module="textstructure" mode="change">
                        <content>
                            <elementRef key="teiHeader"/>
                            <elementRef key="text" minOccurs="1" maxOccurs="1"/>                            
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="level" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->

                    <classSpec ident="att.global.responsibility" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.editLike" module="tei" type="atts" mode="delete"/>

                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
