schemas/manuscripta-place.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta place files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-02-23" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta place files</head>
                
                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="manuscripta-p5subset.xml">

                    <!-- Modules imported from manuscripta-master.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="publisher resp respStmt"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for manuscripta-place.odd -->
                    <!-- Source: http://www.tei-c.org/release/xml/tei/odd/p5subset.xml-->
                    <moduleRef key="core" include="date p title" source="odd/p5subset.xml"/>
                    <moduleRef key="header" include="idno sourceDesc" source="odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="listPlace place placeName persName" source="odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="odd/p5subset.xml"/>

                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="listPlace" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="date" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.datable -->
                            <attDef ident="notBefore" mode="delete"/>
                            <attDef ident="notAfter" mode="delete"/>
                            <attDef ident="from" mode="delete"/>
                            <attDef ident="to" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="URI"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="Geonames"/>
                                    <valItem ident="Libris"/>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="TGN">
                                        <desc>Getty Thesaurus of Geographic Names</desc>
                                    </valItem>
                                    <valItem ident="Wikidata"/>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="listPlace" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="place" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>
                            <attDef ident="role" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="place" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="placeName" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted in att.typed -->
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="settlement"/>
                                    <valItem ident="country"/>
                                    <valItem ident="repository"/>
                                    <valItem ident="institution"/>
                                    <valItem ident="region"/>
                                    <valItem ident="monastery"/>
                                </valList>
                            </attDef>     
                            <attDef ident="subtype" mode="delete"/>                            
                        </attList>
                    </elementSpec>

                    <elementSpec ident="placeName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="role" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="TEI" module="textstructure" mode="change">
                        <content>
                            <sequence>
                                <elementRef key="teiHeader"/>
                                <elementRef key="text" minOccurs="1" maxOccurs="1"/>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="level" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>


                    <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->

                    <classSpec ident="att.datable.iso" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.datable.custom" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.declarable" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.docStatus" module="tei" type="atts" mode="change">
                        <attList>
                            <!-- Closed value list for @status -->
                            <attDef ident="status" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="draft">
                                        <desc>working draft</desc>
                                    </valItem>
                                    <valItem ident="published">
                                        <desc>published version</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </classSpec>

                    <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.global.responsibility" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.sortable" module="tei" type="atts" mode="delete"/>

                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
