schemas/manuscripta-bibl.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta bibliography files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2017-12-07" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta bibliography files</head>
                
                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="manuscripta-p5subset.xml">

                    <!--       MODULES USED BY THE SCHEMA       -->

                    <!-- Modules imported from manuscripta-master.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="foreign head publisher resp respStmt textLang"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="msdescription" include="institution msIdentifier repository"/>
                    <moduleRef key="namesdates" include="country settlement"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for manuscripta-bibl.odd -->
                    <!-- Source: http://www.tei-c.org/release/xml/tei/odd/p5subset.xml-->
                    <moduleRef key="core" include="analytic author biblScope biblStruct date editor imprint monogr p pubPlace q series title" source="odd/p5subset.xml"/>
                    <moduleRef key="header" include="edition idno sourceDesc" source="odd/p5subset.xml"/>
                    <moduleRef key="msdescription" include="msDesc" source="odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="addName forename genName nameLink persName roleName surname" source="odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="odd/p5subset.xml"/>

                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

                    <elementSpec ident="addName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <persName ref="https://www.manuscripta.se/person/100056">
                                    <forename>Basilius</forename>
                                    <addName>Caesariensis</addName>
                                </persName>
                            </egXML>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="analytic" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="author" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="editor" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="author" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>
                            <attDef ident="role" mode="change">
                                <valList mode="replace" type="closed">
                                    <valItem ident="critEd">
                                        <gloss>Critical editor</gloss>
                                    </valItem>
                                    <valItem ident="origAuth">
                                        <gloss>Original author</gloss>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="biblScope" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <empty/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="biblStruct" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.docStatus" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <sequence minOccurs="1" maxOccurs="1">
                                <elementRef key="analytic" minOccurs="0" maxOccurs="1"/>
                                <sequence minOccurs="1" maxOccurs="1">
                                    <elementRef key="monogr"/>
                                    <elementRef key="series" minOccurs="0" maxOccurs="unbounded"/>
                                </sequence>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="1" maxOccurs="1">
                                <elementRef key="biblStruct" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="msDesc" minOccurs="0" maxOccurs="1"/>
                            </alternate>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="date" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.datable -->
                            <attDef ident="notBefore" mode="delete"/>
                            <attDef ident="notAfter" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="edition" module="header" mode="change">
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:lang" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="editor" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.naming" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="forename" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="genName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="imprint" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="pubPlace" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="publisher" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="date" minOccurs="1" maxOccurs="1"/>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="ISBN"/>
                                    <valItem ident="ISSN"/>
                                    <valItem ident="URI"/>
                                    <valItem ident="URN"/>
                                    <valItem ident="shelfmark"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="Digitization"/>
                                    <valItem ident="Libris"/>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="Regina"/>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="monogr" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="author" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="editor" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="edition" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="imprint" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="biblScope" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="msDesc" mode="change" module="msdescription">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="delete"/>
                            <memberOf key="att.docStatus" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="msIdentifier" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="head" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                            </sequence>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:lang" mode="change" usage="req"/>
                            <attDef ident="n" mode="delete"/>
                            <!-- Attributes deleted in att.global.linking -->
                            <attDef ident="sameAs" mode="delete"/>
                            <!-- Attributes deleted in att.global.rendition -->
                            <attDef ident="rend" mode="delete"/>
                            <!-- Attributes changed and deleted in att.global.responsibility -->
                            <attDef ident="resp" mode="change" usage="req"/>
                            <attDef ident="cert" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <msDesc>
                                    <msIdentifier>
                                        <country ref="https://www.manuscripta.se/place/100081">Sweden</country>
                                        <settlement ref="https://www.manuscripta.se/place/100089">Uppsala</settlement>
                                        <institution ref="https://www.manuscripta.se/place/100091">Uppsala University</institution>
                                        <repository ref="https://www.manuscripta.se/place/100092">Uppsala University Library</repository>
                                        <idno type="shelfmark">Gr. 27</idno>
                                    </msIdentifier>
                                    <head>Aelian, On Animals</head>
                                    <!-- MS description -->
                                </msDesc>
                            </egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="nameLink" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate>
                                <textNode/>
                                <alternate minOccurs="1" maxOccurs="unbounded">
                                    <elementRef key="forename" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="nameLink" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="surname" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="addName" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="genName" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="roleName" minOccurs="0" maxOccurs="unbounded"/>
                                </alternate>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>
                            <attDef ident="role" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="pubPlace" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted from att.naming -->
                            <attDef ident="role" mode="delete"/>
                            <attDef ident="nymRef" mode="delete"/>
                            <!-- Attributes deleted from att.canonical -->
                            <attDef ident="key" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="q" module="core" mode="change">
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="delete"/>
                            <!-- Attributes deleted from att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <!-- Attributes deleted from att.ascribed -->
                            <attDef ident="who" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="roleName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="series" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="editor" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="surname" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="foreign"/>
                                <elementRef key="q"/>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <attDef ident="type" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="main">
                                        <desc>main title</desc>
                                    </valItem>
                                    <valItem ident="sub">
                                        <desc>(subordinate) subtitle, title of part</desc>
                                    </valItem>
                                    <valItem ident="alt">
                                        <desc>(alternate) alternate title, often in another language, by which the work is also known</desc>
                                    </valItem>
                                    <valItem ident="short">
                                        <desc>abbreviated form of title</desc>
                                    </valItem>
                                    <valItem ident="desc">
                                        <desc>(descriptive) descriptive paraphrase of the work functioning as a title</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted in att.typed -->
                            <attDef ident="subtype" mode="delete"/>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->
                    
                    <classSpec ident="att.calendarSystem" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.editLike" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global" module="tei" type="atts" mode="change">
                        <attList>
                            <attDef ident="xml:base" mode="delete"/>
                        </attList>
                    </classSpec>
                    
                    <classSpec ident="att.global.analytic" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.facs" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.linking" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.responsibility" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                        <attList>
                            <!-- Closed value list for @role -->
                            <attDef ident="role" mode="change">
                                <valList mode="replace" type="closed">
                                    <valItem ident="critEd">
                                        <desc>Critical editor</desc>
                                    </valItem>
                                    <valItem ident="origAuth">
                                        <desc>Original author</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </classSpec>
                    
                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
