schemas/manuscripta-bibl.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta bibliography files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2017-12-07" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta bibliography files</head>

                <schemaSpec ident="manuscripta-bibliography" start="TEI" xml:lang="en" source="file:/F:/Box Sync/Manuscripta/manuscripta-2.0/schemas/manuscripta-p5subset.xml">

                    <!--       MODULES USED BY THE SCHEMA       -->

                    <!-- Modules imported from manuscripta.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="date foreign publisher resp respStmt textLang"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for bibliography-bibl.odd -->

                    <moduleRef key="core" include="analytic author biblScope biblStruct editor imprint monogr p pubPlace q series title" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
                    <moduleRef key="header" include="edition idno sourceDesc" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="addName forename genName nameLink persName roleName surname" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>


                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->

                    <elementSpec ident="addName" module="namesdates" mode="change">                        
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="analytic" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="author" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="editor" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="author" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>                            
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>                            
                        </attList>
                    </elementSpec>

                    <elementSpec ident="biblScope" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <empty/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="biblStruct" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.docStatus" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <sequence minOccurs="1" maxOccurs="1">
                                <elementRef key="analytic" minOccurs="0" maxOccurs="1"/>
                                <sequence minOccurs="1" maxOccurs="1">
                                    <elementRef key="monogr"/>
                                    <elementRef key="series" minOccurs="0" maxOccurs="unbounded"/>
                                </sequence>
                            </sequence>
                        </content>
                    </elementSpec>

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="biblStruct" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="edition" module="header" mode="change">
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:lang" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="editor" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.naming" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="forename" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="genName" module="namesdates" mode="change">                        
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="imprint" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="pubPlace" minOccurs="1" maxOccurs="unbounded"/>
                            <elementRef key="publisher" minOccurs="0" maxOccurs="1"/>
                            <elementRef key="date" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="ISBN"/>
                                    <valItem ident="ISSN"/>
                                    <valItem ident="URI"/>
                                    <valItem ident="URN"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">                                    
                                    <valItem ident="Digitization"/>
                                    <valItem ident="Libris"/>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="Regina"/>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="monogr" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="author" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="editor" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="edition" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                                <elementRef key="imprint" minOccurs="1" maxOccurs="1"/>
                                <elementRef key="biblScope" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                    </elementSpec>

                    <elementSpec ident="nameLink" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate>
                                <textNode/>
                                <sequence>
                                    <elementRef key="forename" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="nameLink" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="surname" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="addName" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="genName" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="roleName" minOccurs="0" maxOccurs="unbounded"/>
                                </sequence>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>                            
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>
                            <attDef ident="role" mode="delete"/>                            
                        </attList>
                    </elementSpec>

                    <elementSpec ident="pubPlace" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        
                        <attList>
                            <!-- Attributes deleted from att.naming -->
                            <attDef ident="role" mode="delete"/>
                            <attDef ident="nymRef" mode="delete"/>
                            <!-- Attributes deleted from att.canonical -->                            
                            <attDef ident="key" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="q" module="core" mode="change">
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="delete"/>
                            <!-- Attributes deleted from att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <!-- Attributes deleted from att.ascribed -->
                            <attDef ident="who" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="roleName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="series" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <sequence>
                                <elementRef key="editor" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </content>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>                            
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="surname" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.personal" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="foreign"/>
                                <elementRef key="q"/>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted in att.typed -->
                            <attDef ident="subtype" mode="delete"/>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <classSpec ident="att.editLike" module="tei" type="atts" mode="delete"/>

                    <classSpec ident="att.global.analytic" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.facs" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.linking" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.responsibility" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                        <attList>
                            <!-- Closed value list for @role -->
                            <attDef ident="role" mode="change">
                                <valList mode="replace" type="closed">
                                    <valItem ident="critEd">
                                        <desc>Critical editor</desc>
                                    </valItem>
                                    <valItem ident="origAuth">
                                        <desc>Original author</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                            <attDef ident="nymRef" mode="delete"/>
                        </attList>
                    </classSpec>

                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
