schemas/manuscripta-work.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta work files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2020-05-05" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta work files</head>

                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="manuscripta-p5subset.xml">

                    <!--       MODULES USED BY THE SCHEMA       -->

                    <!-- Modules imported from manuscripta-master.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="publisher resp respStmt textLang"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for manuscripta-works.odd -->
                    <!-- Source: http://www.tei-c.org/release/xml/tei/odd/p5subset.xml-->
                    <moduleRef key="core" include="date author bibl editor note p quote title" source="odd/p5subset.xml"/>
                    <moduleRef key="header" include="idno sourceDesc" source="odd/p5subset.xml"/>
                    <moduleRef key="msdescription" include="explicit incipit" source="odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="persName" source="odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="odd/p5subset.xml"/>

                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->
                    <elementSpec ident="author" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.naming" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="bibl" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.docStatus" mode="delete"/>
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate>
                                <textNode/>
                                <sequence>
                                    <elementRef key="author" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="editor" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="title" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="incipit" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="explicit" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="bibl" minOccurs="0" maxOccurs="1"/>
                                </sequence>
                            </alternate>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="bibl" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="date" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.canonical" mode="delete"/>
                            <memberOf key="att.editLike" mode="delete"/>
                            <memberOf key="att.dimensions" mode="delete"/>
                            <memberOf key="att.ranging" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.datable -->
                            <attDef ident="notBefore" mode="delete"/>
                            <attDef ident="notAfter" mode="delete"/>
                            <attDef ident="from" mode="delete"/>
                            <attDef ident="to" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="editor" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes changed and deleted in att.naming -->
                            <attDef ident="role" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="editor"/>
                                    <valItem ident="translator"/>
                                </valList>
                            </attDef>
                            <attDef ident="nymRef" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="explicit" module="msdescription" mode="change">
                        <classes mode="change">
                            <memberOf key="att.msExcerpt" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted in att.global -->
                            <attDef ident="xml:lang" mode="change" usage="req"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="incipit" mode="change" module="msdescription">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="delete"/>
                            <memberOf key="att.msExcerpt" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes cahnged and deleted in att.global -->
                            <attDef ident="xml:lang" mode="change" usage="req"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="id"/>
                                    <valItem ident="URI"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="Access"/>
                                    <valItem ident="Collijn-textnr">
                                        <desc>Collijn, Fornsvensk bibl. suppl., textnr</desc>
                                    </valItem>
                                    <valItem ident="Geete-textnr-1">
                                        <desc>Geete, Fornsvensk bibl. vol. 1, textnr</desc>
                                    </valItem>
                                    <valItem ident="Geete-textnr-2">
                                        <desc>Geete, Fornsvensk bibl. suppl., textnr</desc>
                                    </valItem>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="Geete-genrenr">
                                        <desc>Geete, Fornsvensk bibl., genrenr</desc>
                                    </valItem>
                                    <valItem ident="Astrom-genrenr">
                                        <desc>Åström, genrenr</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="note" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.placement" mode="delete"/>
                            <memberOf key="att.pointing" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="bibl"/>
                                <elementRef key="persName"/>
                                <elementRef key="quote"/>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                            <!-- Attributes deleted in att.typed -->
                            <attDef ident="subtype" mode="delete"/>
                            <attDef ident="anchored" mode="delete"/>
                            <attDef ident="targetEnd" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="resp" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>
                            <attDef ident="role" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="quote" mode="change" module="core">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="delete"/>
                            <memberOf key="att.msExcerpt" mode="delete"/>
                            <memberOf key="att.source" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted in att.global -->
                            <attDef ident="xml:lang" mode="change" usage="opt"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.rendition -->
                            <attDef ident="rend" mode="delete"/>
                            <!-- Attributes changed and deleted in att.global.facs -->
                            <attDef ident="facs" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted -->
                            <attDef ident="calendar" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes changed and deleted in att.typed -->
                            <attDef ident="type" mode="change" usage="rec">
                                <valList mode="replace" type="closed">
                                    <valItem ident="uniform"/>
                                    <valItem ident="alt"/>
                                    <valItem ident="desc"/>
                                    <valItem ident="short"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="delete"/>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <attDef ident="level" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <!-- DELETED AND MODIFIED GLOBAL ATTRIBUTES -->
                    
                    <classSpec ident="att.calendarSystem" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.editLike" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.analytic" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.facs" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.linking" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.msExcerpt " module="msdescription" type="atts" mode="delete"/>
                    
                    <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                        <attList>
                            <attDef ident="nymRef" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </classSpec>

                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
