schemas/manuscripta-work.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Schema for the Manuscripta work files</title>
                <author xml:id="PG">Patrik Granholm</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Manuscripta</publisher>
                <availability status="free">
                    <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2020-05-05" who="#PG">Created ODD</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div/>
        </body>
        <back>
            <div xml:id="schema">
                <head>Schema for the Manuscripta work files</head>

                <schemaSpec ident="manuscripta-org" start="TEI" xml:lang="en" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/manuscripta-p5subset.xml">

                    <!--       MODULES USED BY THE SCHEMA       -->

                    <!-- Modules imported from manuscripta-master.odd -->

                    <moduleRef key="tei"/>
                    <moduleRef key="core" include="date publisher resp respStmt textLang"/>
                    <moduleRef key="header" include="availability change fileDesc funder licence publicationStmt revisionDesc sponsor teiHeader titleStmt"/>
                    <moduleRef key="textstructure" include="TEI text"/>

                    <!-- Modules for manuscripta-works.odd -->
                    <!-- Source: http://www.tei-c.org/release/xml/tei/odd/p5subset.xml-->
                    <moduleRef key="core" include="author bibl editor note p quote title" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="header" include="idno sourceDesc" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="msdescription" include="explicit incipit" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="namesdates" include="persName" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>
                    <moduleRef key="textstructure" include="body" source="file:/C:/Users/Patrik/OneDrive/Manuscripta/manuscripta-2.0/schemas/odd/p5subset.xml"/>

                    <!--       ELEMENT SPECIFICATIONS, DELETED ATTRIBUTES, AND ATTRIBUTE VALUE CONSTRAINTS       -->
                    <elementSpec ident="author" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.naming" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="bibl" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.docStatus" mode="delete"/>
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate>
                                <textNode/>
                                <sequence>
                                    <elementRef key="author" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="editor" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="title" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                                    <elementRef key="incipit" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="explicit" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                                    <elementRef key="bibl" minOccurs="0" maxOccurs="1"/>
                                </sequence>
                            </alternate>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="body" module="textstructure" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.declaring" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="bibl" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="editor" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted in att.naming -->
                            <attDef ident="role" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="editor"/>
                                    <valItem ident="translator"/>
                                </valList>
                            </attDef>
                            <attDef ident="nymRef" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="explicit" module="msdescription" mode="change">
                        <classes mode="change">
                            <memberOf key="att.msExcerpt" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted in att.global -->
                            <attDef ident="xml:lang" mode="change" usage="req"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="incipit" mode="change" module="msdescription">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="delete"/>
                            <memberOf key="att.msExcerpt" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes cahnged and deleted in att.global -->
                            <attDef ident="xml:lang" mode="change" usage="req"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="idno" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="id"/>
                                    <valItem ident="URI"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="Access"/>
                                    <valItem ident="Collijn-textnr">
                                        <desc>Collijn, Fornsvensk bibl. suppl., textnr</desc>
                                    </valItem>
                                    <valItem ident="Geete-textnr-1">
                                        <desc>Geete, Fornsvensk bibl. vol. 1, textnr</desc>
                                    </valItem>
                                    <valItem ident="Geete-textnr-2">
                                        <desc>Geete, Fornsvensk bibl. suppl., textnr</desc>
                                    </valItem>
                                    <valItem ident="Manuscripta"/>
                                    <valItem ident="Geete-genrenr">
                                        <desc>Geete, Fornsvensk bibl., genrenr</desc>
                                    </valItem>
                                    <valItem ident="Astrom-genrenr">
                                        <desc>Åström, genrenr</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="note" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.placement" mode="delete"/>
                            <memberOf key="att.pointing" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="bibl"/>
                                <elementRef key="persName"/>
                                <elementRef key="quote"/>
                            </alternate>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                            <!-- Attributes deleted in att.typed -->
                            <attDef ident="subtype" mode="delete"/>
                            <attDef ident="anchored" mode="delete"/>
                            <attDef ident="targetEnd" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="p" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="persName" module="namesdates" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                            <memberOf key="att.typed" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="resp" mode="delete"/>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes deleted in att.naming -->
                            <attDef ident="nymRef" mode="delete"/>
                            <attDef ident="role" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>
                    
                    <elementSpec ident="quote" mode="change" module="core">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="delete"/>
                            <memberOf key="att.msExcerpt" mode="delete"/>
                            <memberOf key="att.source" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes changed and deleted in att.global -->
                            <attDef ident="xml:lang" mode="change" usage="opt"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <!-- Attributes deleted in att.global.rendition -->
                            <attDef ident="rend" mode="delete"/>
                            <!-- Attributes changed and deleted in att.global.facs -->
                            <attDef ident="facs" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" module="header" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global" mode="delete"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="title" module="core" mode="change">
                        <classes mode="change">
                            <memberOf key="att.datable" mode="delete"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <!-- Attributes deleted in att.canonical -->
                            <attDef ident="key" mode="delete"/>
                            <!-- Attributes changed and deleted in att.typed -->
                            <attDef ident="type" mode="change" usage="rec">
                                <valList mode="replace" type="closed">
                                    <valItem ident="uniform"/>
                                    <valItem ident="alt"/>
                                    <valItem ident="desc"/>
                                    <valItem ident="short"/>
                                </valList>
                            </attDef>
                            <attDef ident="subtype" mode="delete"/>
                            <!-- Attributes deleted in att.global -->
                            <attDef ident="xml:id" mode="delete"/>
                            <attDef ident="n" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <attDef ident="level" mode="delete"/>
                            <!-- Attributes deleted in att.global.responsibility -->
                            <attDef ident="cert" mode="delete"/>
                            <attDef ident="resp" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </elementSpec>

                    <classSpec ident="att.editLike" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global" module="tei" type="atts" mode="change">
                        <attList>
                            <attDef ident="xml:lang" mode="change" usage="opt">
                                <valList mode="replace" type="closed">
                                    <valItem ident="da">
                                        <gloss xml:lang="en">Danish</gloss>
                                        <gloss xml:lang="sv">Danska</gloss>
                                    </valItem>
                                    <valItem ident="de">
                                        <gloss xml:lang="en">German</gloss>
                                        <gloss xml:lang="sv">Tyska</gloss>
                                    </valItem>
                                    <valItem ident="el">
                                        <gloss xml:lang="en">Modern Greek</gloss>
                                        <gloss xml:lang="sv">Nygrekiska</gloss>
                                    </valItem>
                                    <valItem ident="en">
                                        <gloss xml:lang="en">English</gloss>
                                        <gloss xml:lang="sv">Engelska</gloss>
                                    </valItem>
                                    <valItem ident="fi">
                                        <gloss xml:lang="en">Finnish</gloss>
                                        <gloss xml:lang="sv">Finska</gloss>
                                    </valItem>
                                    <valItem ident="fr">
                                        <gloss xml:lang="en">French</gloss>
                                        <gloss xml:lang="sv">Franska</gloss>
                                    </valItem>
                                    <valItem ident="grc">
                                        <gloss xml:lang="en">Greek</gloss>
                                        <desc xml:lang="en">Ancient and Medieval Greek</desc>
                                        <gloss xml:lang="sv">Grekiska</gloss>
                                        <desc xml:lang="sv">Antik och medeltida grekiska</desc>
                                    </valItem>
                                    <valItem ident="is">
                                        <gloss xml:lang="en">Icelandic</gloss>
                                        <gloss xml:lang="sv">Isländska</gloss>
                                    </valItem>
                                    <valItem ident="it">
                                        <gloss xml:lang="en">Italian</gloss>
                                        <gloss xml:lang="sv">Italienska</gloss>
                                    </valItem>
                                    <valItem ident="la">
                                        <gloss xml:lang="en">Latin</gloss>
                                        <gloss xml:lang="sv">Latin</gloss>
                                    </valItem>
                                    <valItem ident="nl">
                                        <gloss xml:lang="en">Dutch</gloss>
                                        <gloss xml:lang="sv">Nederländska</gloss>
                                    </valItem>
                                    <valItem ident="non-dan">
                                        <gloss xml:lang="en">Old Danish</gloss>
                                        <desc xml:lang="en">Old Danish of East Norse. LINGUIST List code standard (http://multitree.org/codes/non-dan).</desc>
                                        <gloss xml:lang="sv">Forndanska</gloss>
                                        <desc xml:lang="sv">LINGUIST List språkkod standard (http://multitree.org/codes/non-dan).</desc>
                                    </valItem>
                                    <valItem ident="non-gut">
                                        <gloss xml:lang="en">Old Gutnish</gloss>
                                        <desc xml:lang="en">Old Gutnish of East Norse. LINGUIST List code standard (http://multitree.org/codes/non-gut).</desc>
                                        <gloss xml:lang="sv">Forngutniska</gloss>
                                        <desc xml:lang="sv">LINGUIST List språkkod standard (http://multitree.org/codes/non-gut).</desc>
                                    </valItem>
                                    <valItem ident="non-swe">
                                        <gloss xml:lang="en">Old Swedish</gloss>
                                        <desc xml:lang="en">Old Swedish of East Norse. LINGUIST List code standard (http://multitree.org/codes/non-swe).</desc>
                                        <gloss xml:lang="sv">Fornsvenska</gloss>
                                        <desc xml:lang="sv">LINGUIST List språkkod standard (http://multitree.org/codes/non-swe).</desc>
                                    </valItem>
                                    <valItem ident="sp">
                                        <gloss xml:lang="en">Spanish</gloss>
                                        <gloss xml:lang="sv">Spanska</gloss>
                                    </valItem>
                                    <valItem ident="sv">
                                        <gloss xml:lang="en">Swedish</gloss>
                                        <gloss xml:lang="sv">Svenska</gloss>
                                    </valItem>
                                    <valItem ident="non-wes">
                                        <gloss xml:lang="en">West Norse</gloss>
                                        <desc xml:lang="en">LINGUIST List code standard (http://multitree.org/codes/non-wes).</desc>
                                        <gloss xml:lang="sv">Fornnorska</gloss>
                                        <desc xml:lang="sv">LINGUIST List språkkod standard (http://multitree.org/codes/non-wes).</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                        </attList>
                    </classSpec>
                    <classSpec ident="att.global.analytic" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.facs" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.linking" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.rendition" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.global.source" module="tei" type="atts" mode="delete"/>
                    <classSpec ident="att.msExcerpt " module="msdescription" type="atts" mode="delete"/>
                    <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                        <attList>
                            <attDef ident="nymRef" mode="delete"/>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
                        </exemplum>
                        <remarks>
                            <p/>
                        </remarks>
                    </classSpec>

                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
